/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height: 280px;
}
#home::before{
    height: 370px;
    padding: 3px 68px;
}

#home p{
    font-size: 13px;
}


/* Services section */
#services .box{
    flex-direction: column;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding:2px 6px;
}


/* Contact Us section */


/* footer */



/* utility classe */

.h-primary{
    font-size: 23px;
}

.btn{
    font-size: 4px  8px;
}